.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
package-lock.json
/cypress/1-getting-started
/cypress/2-advanced-examples