fastapi==0.111.0
pytest==8.2.0
coverage==7.5.1
fastapi-cli==0.0.3
httpx==0.27.0
uvicorn==0.29.0
pydantic==2.7.1
python-multipart==0.0.9
starlette==0.37.2
typing_extensions~=4.11.0
SQLAlchemy>=1.3,<2.0.0
pandas~=2.2.2
psycopg2-binary==2.9.9
sqlalchemy_utils==0.41.2
sqlalchemy-redshift>=0.7.9